@charset 'UTF-8';

body
{
    min-width: 600px;
}

div.bg
{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../resource/bg.jpg) no-repeat;
    background-size: cover;
}

div.title
{
    width: 364px;
    height: 110px;
    margin: 0 auto;
    background: url(../resource/title.png) no-repeat center center;
    background-size: contain;
    margin-top: 10%;
}

ul
{
    list-style: none;
}

.input-center
{
    margin: 0 auto;
}

.content
{
    overflow: auto;
    width: 60%;
    height: 200px;
    margin: 0 auto;
    border: 0 solid #64b1f5;
}

.divLine
{
    display: inline-block;
}

.divLine span
{
    margin-right: 30px;
}

.divLine input
{
    padding-left: 10px;
}

.btn-center
{
    display: none;
    float: none;
    margin: 0 auto;
}

.list-choice
{
    width: 60%;
    margin: 0 auto;
    text-align: left;
}

.list-choice li
{
    display: inline-block;
}

.list-choice span
{
    margin-right: 28px;
}

div.example
{
    width: 25%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: left;
    color: white;
}

div.selectAll
{
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    padding-left: 40px;
    text-align: left;
    display: none;
}

.list-choice-container > div > input
{
    margin-right: 5px;
}

div.result-list {
    overflow: hidden;
    /*overflow-y: auto;*/
    width: 65%;
    height: 400px;
    display: none;
    margin: 0 auto;
}

table.table {
    width: 100%;
    margin: 0 auto;
    border: 0px solid white;
}

table.table>thead th {
    text-align: center;
    border-bottom: 0 solid white;
    border-right: 1px solid white;
}

table.table>thead th:first-child {
    width: 20%;
}

table.table>tbody td {
    border-right: 1px solid white;
}

table.table>tbody td:first-child {
    text-align: center;
    width: 20%;
}

div.goback {
    float: none;
    margin: 0 auto;
    margin-top: 25px;
    display: none;
}

.mCSB_inside > .mCSB_container {
    margin-right: 10px !important;
}
